*.iml
.gradle
/local.properties
.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/script/*.txt
/script/*.h
/script/*.m
oneHookLibraryAndroid.iml
app/app.iml
onehookinclibrary/onehookinclibrary.iml
